In [ ]:
import pandas as pd 
df = pd.read_csv('garbage_data.csv')
df

,lat,long,address,datetime,type,weight
0,23.306627,77.108769,"Sehore Sub-District, Madhya Pradesh, India",04/27/2021 10:26 PM,glass,2
1,23.307627,77.109769,"Sehore Sub-District, Madhya Pradesh, India",04/13/2023 04:38 AM,ewaste,6
2,23.308627,77.110769,"Sehore Sub-District, Madhya Pradesh, India",04/11/2021 08:22 AM,paper,5
3,23.309627,77.111769,"Sehore Sub-District, Madhya Pradesh, India",10/17/2023 03:35 AM,metal,1
4,23.310627,77.112769,"Sehore Sub-District, Madhya Pradesh, India",11/10/2021 05:21 PM,plastics,3
...,...,...,...,...,...,...
995,24.301627,78.103769,"Bina, Madhya Pradesh, India",06/22/2022 09:32 PM,plastics,3
996,24.302627,78.104769,"Bina, Madhya Pradesh, India",08/13/2022 08:22 PM,glass,4
997,24.303627,78.105769,"Bina, Madhya Pradesh, India",05/05/2021 09:44 AM,cardboard,3
998,24.304627,78.106769,"Bina, Madhya Pradesh, India",07/05/2021 02:37 AM,plastics,10
999,24.305627,78.107769,"Bina, Madhya Pradesh, India",12/28/2021 10:07 AM,glass,6

In [ ]:
import tensorflow as tf 
print(tf.__version__)

2.11.0

In [ ]:
len(df['address'].unique())

102

In [ ]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df['type'] = le.fit_transform(df['type'])
df

,lat,long,address,datetime,type,weight
0,23.306627,77.108769,"Sehore Sub-District, Madhya Pradesh, India",04/27/2021 10:26 PM,2,2
1,23.307627,77.109769,"Sehore Sub-District, Madhya Pradesh, India",04/13/2023 04:38 AM,1,6
2,23.308627,77.110769,"Sehore Sub-District, Madhya Pradesh, India",04/11/2021 08:22 AM,4,5
3,23.309627,77.111769,"Sehore Sub-District, Madhya Pradesh, India",10/17/2023 03:35 AM,3,1
4,23.310627,77.112769,"Sehore Sub-District, Madhya Pradesh, India",11/10/2021 05:21 PM,5,3
...,...,...,...,...,...,...
995,24.301627,78.103769,"Bina, Madhya Pradesh, India",06/22/2022 09:32 PM,5,3
996,24.302627,78.104769,"Bina, Madhya Pradesh, India",08/13/2022 08:22 PM,2,4
997,24.303627,78.105769,"Bina, Madhya Pradesh, India",05/05/2021 09:44 AM,0,3
998,24.304627,78.106769,"Bina, Madhya Pradesh, India",07/05/2021 02:37 AM,5,10
999,24.305627,78.107769,"Bina, Madhya Pradesh, India",12/28/2021 10:07 AM,2,6

In [ ]:
df['datetime'] = pd.to_datetime(df['datetime'])
df['datetime']

0     2021-04-27 22:26:00
1     2023-04-13 04:38:00
2     2021-04-11 08:22:00
3     2023-10-17 03:35:00
4     2021-11-10 17:21:00
              ...
995   2022-06-22 21:32:00
996   2022-08-13 20:22:00
997   2021-05-05 09:44:00
998   2021-07-05 02:37:00
999   2021-12-28 10:07:00
Name: datetime, Length: 1000, dtype: datetime64[ns]

In [ ]:
df['month'] = df['datetime'].dt.month
df['month']

0       4
1       4
2       4
3      10
4      11
       ..
995     6
996     8
997     5
998     7
999    12
Name: month, Length: 1000, dtype: int64

In [ ]:
df['hour'] = df['datetime'].dt.hour
df['hour']

0      22
1       4
2       8
3       3
4      17
       ..
995    21
996    20
997     9
998     2
999    10
Name: hour, Length: 1000, dtype: int64

In [ ]:
df['day'] = df['datetime'].dt.day

In [ ]:

check_df = df[['lat', 'long', 'month', 'hour', 'day', 'type']]
check_df

           lat       long  month  hour  day  type
0    23.306627  77.108769      4    22   27     2
1    23.307627  77.109769      4     4   13     1
2    23.308627  77.110769      4     8   11     4
3    23.309627  77.111769     10     3   17     3
4    23.310627  77.112769     11    17   10     5
..         ...        ...    ...   ...  ...   ...
995  24.301627  78.103769      6    21   22     5
996  24.302627  78.104769      8    20   13     2
997  24.303627  78.105769      5     9    5     0
998  24.304627  78.106769      7     2    5     5
999  24.305627  78.107769     12    10   28     2

[1000 rows x 6 columns]

In [ ]:
from sklearn.model_selection import train_test_split
X = check_df[['lat', 'long', 'hour', 'month', 'day']].values
y = check_df[['type']].values
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 42)

In [ ]:
import tensorflow as tf 
X_train = tf.convert_to_tensor(X_train, dtype = tf.float64)
X_test = tf.convert_to_tensor(X_test, dtype = tf.float64)
y_train = tf.convert_to_tensor(y_train, dtype = tf.float64)
y_test = tf.convert_to_tensor(y_test, dtype = tf.float64)

In [ ]:
y_train = tf.squeeze(y_train)
y_test = tf.squeeze(y_test)
y_train

<tf.Tensor: shape=(800,), dtype=float64, numpy=
array([4., 3., 1., 4., 3., 1., 1., 5., 2., 5., 4., 0., 3., 5., 2., 0., 4.,
       4., 4., 1., 1., 3., 4., 5., 0., 4., 0., 0., 5., 3., 4., 4., 0., 4.,
       0., 5., 1., 3., 4., 0., 3., 5., 3., 4., 0., 0., 0., 3., 1., 3., 0.,
       3., 0., 5., 0., 1., 0., 5., 4., 1., 0., 5., 2., 5., 2., 4., 3., 3.,
       3., 5., 0., 2., 5., 4., 0., 1., 0., 0., 2., 5., 2., 0., 0., 4., 2.,
       5., 3., 4., 3., 0., 0., 1., 3., 0., 0., 5., 4., 2., 5., 5., 0., 2.,
       0., 2., 0., 5., 4., 5., 4., 3., 3., 3., 0., 1., 1., 5., 1., 2., 0.,
       3., 0., 0., 1., 4., 3., 5., 3., 5., 3., 0., 1., 0., 2., 2., 2., 1.,
       0., 0., 5., 3., 2., 5., 5., 2., 0., 5., 1., 5., 2., 3., 1., 2., 3.,
       0., 5., 4., 1., 5., 0., 2., 3., 3., 0., 5., 1., 3., 5., 1., 2., 2.,
       4., 4., 0., 2., 0., 1., 3., 0., 0., 0., 4., 5., 0., 3., 5., 4., 4.,
       4., 1., 5., 4., 5., 1., 3., 4., 5., 2., 3., 2., 0., 2., 5., 4., 5.,
       1., 5., 5., 3., 3., 1., 0., 2., 5., 1., 0., 4., 5., 1., 4., 5., 1.,
       2., 2., 1., 5., 5., 2., 1., 4., 1., 5., 0., 0., 5., 4., 4., 2., 0.,
       4., 1., 5., 5., 2., 1., 0., 1., 3., 5., 0., 5., 1., 5., 1., 5., 4.,
       5., 0., 0., 0., 0., 3., 4., 1., 0., 1., 2., 2., 5., 0., 2., 4., 4.,
       1., 3., 2., 2., 1., 4., 5., 2., 3., 1., 2., 2., 0., 0., 3., 5., 3.,
       0., 1., 2., 1., 5., 1., 5., 3., 3., 1., 3., 0., 0., 3., 0., 4., 4.,
       0., 4., 3., 1., 0., 0., 0., 0., 3., 0., 2., 4., 3., 5., 5., 2., 2.,
       3., 4., 1., 1., 2., 2., 2., 0., 2., 1., 1., 3., 1., 5., 5., 4., 1.,
       4., 3., 4., 1., 5., 0., 1., 0., 3., 0., 3., 4., 2., 3., 1., 5., 4.,
       5., 1., 2., 3., 2., 2., 0., 1., 3., 4., 4., 3., 5., 2., 3., 5., 3.,
       0., 4., 4., 3., 4., 2., 5., 4., 2., 2., 5., 0., 3., 4., 0., 3., 0.,
       1., 1., 2., 5., 2., 1., 4., 2., 1., 2., 0., 3., 0., 1., 1., 2., 2.,
       2., 4., 3., 4., 1., 3., 0., 5., 5., 1., 2., 5., 3., 4., 0., 0., 1.,
       1., 4., 5., 1., 5., 0., 5., 4., 2., 5., 2., 1., 1., 2., 3., 1., 0.,
       3., 3., 0., 0., 2., 2., 4., 3., 4., 3., 0., 1., 2., 4., 0., 1., 5.,
       1., 5., 2., 5., 0., 1., 4., 0., 0., 1., 3., 3., 1., 5., 4., 5., 1.,
       3., 0., 4., 2., 2., 3., 4., 2., 3., 2., 4., 2., 5., 0., 0., 4., 4.,
       1., 0., 5., 2., 3., 3., 0., 4., 5., 5., 5., 0., 0., 2., 0., 5., 5.,
       0., 3., 5., 3., 5., 2., 1., 4., 2., 5., 0., 2., 5., 4., 4., 0., 0.,
       3., 2., 0., 5., 2., 2., 4., 0., 4., 1., 0., 2., 5., 0., 1., 5., 4.,
       0., 4., 2., 5., 1., 0., 5., 3., 1., 4., 3., 5., 5., 2., 4., 0., 5.,
       5., 0., 0., 3., 5., 1., 2., 1., 0., 2., 2., 4., 0., 5., 4., 3., 2.,
       4., 3., 0., 5., 5., 0., 1., 1., 0., 1., 3., 3., 3., 5., 0., 2., 3.,
       4., 2., 0., 0., 0., 1., 0., 5., 5., 2., 1., 1., 1., 1., 2., 1., 1.,
       5., 0., 2., 4., 4., 3., 5., 5., 2., 1., 0., 1., 1., 0., 1., 2., 1.,
       3., 4., 5., 4., 5., 5., 5., 3., 3., 0., 5., 4., 2., 3., 5., 1., 3.,
       5., 4., 1., 1., 3., 2., 3., 1., 4., 4., 2., 3., 4., 2., 1., 1., 3.,
       5., 4., 2., 0., 4., 1., 2., 5., 3., 2., 2., 4., 2., 4., 1., 3., 5.,
       1., 1., 2., 3., 3., 1., 5., 5., 3., 3., 0., 0., 5., 5., 4., 5., 0.,
       5., 3., 2., 3., 4., 1., 1., 5., 4., 3., 4., 0., 1., 1., 0., 2., 1.,
       0., 1., 5., 2., 4., 3., 4., 2., 4., 5., 1., 0., 3., 2., 2., 4., 3.,
       5., 0., 3., 5., 2., 4., 1., 2., 4., 5., 3., 1., 3., 4., 4., 1., 3.,
       5., 1., 0., 1., 5., 1., 2., 4., 3., 2., 2., 2., 0., 1., 2., 3., 2.,
       3., 4., 4., 0., 2., 0., 4., 4., 5., 2., 0., 4., 2., 0., 0., 3., 2.,
       1., 1., 0., 2., 2., 2., 0., 5., 2., 2., 5., 0., 0., 0., 0., 3., 1.,
       0.])>

In [ ]:
model = tf.keras.Sequential([
    tf.keras.layers.Dense(64, activation='relu', input_shape=(X.shape[1],)),
    tf.keras.layers.Dense(6, activation = 'softmax')
])

# Compile the model
model.compile(optimizer='adam', loss='sparse_categorical_crossentropy', metrics=['accuracy'])

with tf.device('/CPU:0'):
    model.fit(X_train, y_train, epochs = 100, batch_size =32)

Epoch 1/100
25/25 [==============================] - 1s 2ms/step - loss: 8.2367 - accuracy: 0.1813
Epoch 2/100
25/25 [==============================] - 0s 2ms/step - loss: 3.2849 - accuracy: 0.1675
Epoch 3/100
25/25 [==============================] - 0s 2ms/step - loss: 2.4562 - accuracy: 0.1787
Epoch 4/100
25/25 [==============================] - 0s 2ms/step - loss: 2.0841 - accuracy: 0.1713
Epoch 5/100
25/25 [==============================] - 0s 2ms/step - loss: 1.9203 - accuracy: 0.1838
Epoch 6/100
25/25 [==============================] - 0s 2ms/step - loss: 1.8953 - accuracy: 0.1787
Epoch 7/100
25/25 [==============================] - 0s 2ms/step - loss: 1.8505 - accuracy: 0.1875
Epoch 8/100
25/25 [==============================] - 0s 2ms/step - loss: 1.8343 - accuracy: 0.1762
Epoch 9/100
25/25 [==============================] - 0s 2ms/step - loss: 1.8218 - accuracy: 0.1800
Epoch 10/100
25/25 [==============================] - 0s 3ms/step - loss: 1.8330 - accuracy: 0.1600
Epoch 11/100
25/25 [==============================] - 0s 2ms/step - loss: 1.8183 - accuracy: 0.1688
Epoch 12/100
25/25 [==============================] - 0s 2ms/step - loss: 1.8166 - accuracy: 0.1937
Epoch 13/100
25/25 [==============================] - 0s 2ms/step - loss: 1.8184 - accuracy: 0.1800
Epoch 14/100
25/25 [==============================] - 0s 2ms/step - loss: 1.8281 - accuracy: 0.1912
Epoch 15/100
25/25 [==============================] - 0s 2ms/step - loss: 1.8142 - accuracy: 0.1850
Epoch 16/100
25/25 [==============================] - 0s 2ms/step - loss: 1.8186 - accuracy: 0.1887
Epoch 17/100
25/25 [==============================] - 0s 2ms/step - loss: 1.8123 - accuracy: 0.2225
Epoch 18/100
25/25 [==============================] - 0s 2ms/step - loss: 1.8067 - accuracy: 0.1988
Epoch 19/100
25/25 [==============================] - 0s 2ms/step - loss: 1.8253 - accuracy: 0.1900
Epoch 20/100
25/25 [==============================] - 0s 2ms/step - loss: 1.8141 - accuracy: 0.1787
Epoch 21/100
25/25 [==============================] - 0s 3ms/step - loss: 1.8188 - accuracy: 0.1925
Epoch 22/100
25/25 [==============================] - 0s 2ms/step - loss: 1.8117 - accuracy: 0.1875
Epoch 23/100
25/25 [==============================] - 0s 2ms/step - loss: 1.8174 - accuracy: 0.1663
Epoch 24/100
25/25 [==============================] - 0s 2ms/step - loss: 1.8217 - accuracy: 0.1875
Epoch 25/100
25/25 [==============================] - 0s 2ms/step - loss: 1.8523 - accuracy: 0.1825
Epoch 26/100
25/25 [==============================] - 0s 2ms/step - loss: 1.8125 - accuracy: 0.1813
Epoch 27/100
25/25 [==============================] - 0s 2ms/step - loss: 1.8238 - accuracy: 0.1863
Epoch 28/100
25/25 [==============================] - 0s 2ms/step - loss: 1.8089 - accuracy: 0.1950
Epoch 29/100
25/25 [==============================] - 0s 2ms/step - loss: 1.8224 - accuracy: 0.1713
Epoch 30/100
25/25 [==============================] - 0s 2ms/step - loss: 1.8316 - accuracy: 0.1863
Epoch 31/100
25/25 [==============================] - 0s 2ms/step - loss: 1.8188 - accuracy: 0.1875
Epoch 32/100
25/25 [==============================] - 0s 2ms/step - loss: 1.8086 - accuracy: 0.1975
Epoch 33/100
25/25 [==============================] - 0s 2ms/step - loss: 1.8333 - accuracy: 0.1900
Epoch 34/100
25/25 [==============================] - 0s 2ms/step - loss: 1.8496 - accuracy: 0.1800
Epoch 35/100
25/25 [==============================] - 0s 2ms/step - loss: 1.8324 - accuracy: 0.1963
Epoch 36/100
25/25 [==============================] - 0s 2ms/step - loss: 1.8660 - accuracy: 0.1663
Epoch 37/100
25/25 [==============================] - 0s 2ms/step - loss: 1.8314 - accuracy: 0.1787
Epoch 38/100
25/25 [==============================] - 0s 2ms/step - loss: 1.8110 - accuracy: 0.2062
Epoch 39/100
25/25 [==============================] - 0s 2ms/step - loss: 1.8003 - accuracy: 0.1937
Epoch 40/100
25/25 [==============================] - 0s 2ms/step - loss: 1.8072 - accuracy: 0.1937
Epoch 41/100
25/25 [==============================] - 0s 2ms/step - loss: 1.8290 - accuracy: 0.1713
Epoch 42/100
25/25 [==============================] - 0s 2ms/step - loss: 1.8339 - accuracy: 0.1700
Epoch 43/100
25/25 [==============================] - 0s 3ms/step - loss: 1.8399 - accuracy: 0.1775
Epoch 44/100
25/25 [==============================] - 0s 2ms/step - loss: 1.8133 - accuracy: 0.1775
Epoch 45/100
25/25 [==============================] - 0s 2ms/step - loss: 1.8264 - accuracy: 0.1825
Epoch 46/100
25/25 [==============================] - 0s 2ms/step - loss: 1.8439 - accuracy: 0.1875
Epoch 47/100
25/25 [==============================] - 0s 2ms/step - loss: 1.8411 - accuracy: 0.1713
Epoch 48/100
25/25 [==============================] - 0s 2ms/step - loss: 1.8229 - accuracy: 0.2075
Epoch 49/100
25/25 [==============================] - 0s 2ms/step - loss: 1.8439 - accuracy: 0.2062
Epoch 50/100
25/25 [==============================] - 0s 2ms/step - loss: 1.8189 - accuracy: 0.1863
Epoch 51/100
25/25 [==============================] - 0s 2ms/step - loss: 1.8203 - accuracy: 0.2025
Epoch 52/100
25/25 [==============================] - 0s 2ms/step - loss: 1.8312 - accuracy: 0.1900
Epoch 53/100
25/25 [==============================] - 0s 2ms/step - loss: 1.8049 - accuracy: 0.2062
Epoch 54/100
25/25 [==============================] - 0s 2ms/step - loss: 1.8210 - accuracy: 0.1925
Epoch 55/100
25/25 [==============================] - 0s 2ms/step - loss: 1.8126 - accuracy: 0.1725
Epoch 56/100
25/25 [==============================] - 0s 2ms/step - loss: 1.8335 - accuracy: 0.1700
Epoch 57/100
25/25 [==============================] - 0s 2ms/step - loss: 1.8178 - accuracy: 0.1912
Epoch 58/100
25/25 [==============================] - 0s 2ms/step - loss: 1.7991 - accuracy: 0.2075
Epoch 59/100
25/25 [==============================] - 0s 2ms/step - loss: 1.8200 - accuracy: 0.1900
Epoch 60/100
25/25 [==============================] - 0s 2ms/step - loss: 1.8143 - accuracy: 0.1850
Epoch 61/100
25/25 [==============================] - 0s 2ms/step - loss: 1.8103 - accuracy: 0.1925
Epoch 62/100
25/25 [==============================] - 0s 2ms/step - loss: 1.7995 - accuracy: 0.1850
Epoch 63/100
25/25 [==============================] - 0s 2ms/step - loss: 1.7981 - accuracy: 0.1700
Epoch 64/100
25/25 [==============================] - 0s 2ms/step - loss: 1.8074 - accuracy: 0.1937
Epoch 65/100
25/25 [==============================] - 0s 2ms/step - loss: 1.8076 - accuracy: 0.1800
Epoch 66/100
25/25 [==============================] - 0s 2ms/step - loss: 1.8235 - accuracy: 0.1937
Epoch 67/100
25/25 [==============================] - 0s 2ms/step - loss: 1.8192 - accuracy: 0.2050
Epoch 68/100
25/25 [==============================] - 0s 2ms/step - loss: 1.8263 - accuracy: 0.1813
Epoch 69/100
25/25 [==============================] - 0s 2ms/step - loss: 1.8064 - accuracy: 0.1850
Epoch 70/100
25/25 [==============================] - 0s 2ms/step - loss: 1.8256 - accuracy: 0.1937
Epoch 71/100
25/25 [==============================] - 0s 2ms/step - loss: 1.7922 - accuracy: 0.1912
Epoch 72/100
25/25 [==============================] - 0s 3ms/step - loss: 1.7953 - accuracy: 0.2062
Epoch 73/100
25/25 [==============================] - 0s 4ms/step - loss: 1.8145 - accuracy: 0.1863
Epoch 74/100
25/25 [==============================] - 0s 3ms/step - loss: 1.8594 - accuracy: 0.1800
Epoch 75/100
25/25 [==============================] - 0s 4ms/step - loss: 1.8296 - accuracy: 0.2150
Epoch 76/100
25/25 [==============================] - 0s 3ms/step - loss: 1.8447 - accuracy: 0.1975
Epoch 77/100
25/25 [==============================] - 0s 3ms/step - loss: 1.8175 - accuracy: 0.1750
Epoch 78/100
25/25 [==============================] - 0s 3ms/step - loss: 1.8194 - accuracy: 0.2062
Epoch 79/100
25/25 [==============================] - 0s 3ms/step - loss: 1.8064 - accuracy: 0.2037
Epoch 80/100
25/25 [==============================] - 0s 3ms/step - loss: 1.8158 - accuracy: 0.2050
Epoch 81/100
25/25 [==============================] - 0s 3ms/step - loss: 1.8360 - accuracy: 0.1863
Epoch 82/100
25/25 [==============================] - 0s 3ms/step - loss: 1.8030 - accuracy: 0.1937
Epoch 83/100
25/25 [==============================] - 0s 3ms/step - loss: 1.8019 - accuracy: 0.2125
Epoch 84/100
25/25 [==============================] - 0s 3ms/step - loss: 1.8053 - accuracy: 0.1787
Epoch 85/100
25/25 [==============================] - 0s 3ms/step - loss: 1.8274 - accuracy: 0.2113
Epoch 86/100
25/25 [==============================] - 0s 3ms/step - loss: 1.8290 - accuracy: 0.1925
Epoch 87/100
25/25 [==============================] - 0s 3ms/step - loss: 1.7858 - accuracy: 0.1937
Epoch 88/100
25/25 [==============================] - 0s 3ms/step - loss: 1.8176 - accuracy: 0.1850
Epoch 89/100
25/25 [==============================] - 0s 3ms/step - loss: 1.8149 - accuracy: 0.1813
Epoch 90/100
25/25 [==============================] - 0s 3ms/step - loss: 1.8322 - accuracy: 0.1713
Epoch 91/100
25/25 [==============================] - 0s 3ms/step - loss: 1.8206 - accuracy: 0.2138
Epoch 92/100
25/25 [==============================] - 0s 4ms/step - loss: 1.8185 - accuracy: 0.1900
Epoch 93/100
25/25 [==============================] - 0s 3ms/step - loss: 1.8161 - accuracy: 0.1850
Epoch 94/100
25/25 [==============================] - 0s 3ms/step - loss: 1.8034 - accuracy: 0.1813
Epoch 95/100
25/25 [==============================] - 0s 3ms/step - loss: 1.8209 - accuracy: 0.1650
Epoch 96/100
25/25 [==============================] - 0s 3ms/step - loss: 1.8084 - accuracy: 0.2037
Epoch 97/100
25/25 [==============================] - 0s 3ms/step - loss: 1.7989 - accuracy: 0.1988
Epoch 98/100
25/25 [==============================] - 0s 3ms/step - loss: 1.8176 - accuracy: 0.1875
Epoch 99/100
25/25 [==============================] - 0s 3ms/step - loss: 1.8140 - accuracy: 0.1762
Epoch 100/100
25/25 [==============================] - 0s 3ms/step - loss: 1.8105 - accuracy: 0.2138

In [ ]:
model.evaluate(X_test, y_test)

7/7 [==============================] - 0s 4ms/step - loss: 1.9063 - accuracy: 0.1700

[1.9063061475753784, 0.17000000178813934]

In [ ]:
tf.keras.models.save_model(model, 'model.h5')

# Load the model
loaded_model = tf.keras.models.load_model('model.h5')

In [ ]:
model_json = model.to_json()

# Write the JSON string to a file
with open("model.json", "w") as json_file:
    json_file.write(model_json)